body {
  font-size: 18px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "DM Serif Text", serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  background-color: #2a2e3c;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #fdd315;
}

h2 {
  font-size: 32px;
  text-align: center;
  color: #46b3a8;
}


h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 8%;
  margin-bottom: -1%;
  color: #74edd3;
}

h4 {
  font-size: 20px;
  color: #aff7e7;
  margin-left: 4%;
  margin-top: 7%;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  margin-left: 4%;
  margin-right: 4%;
  color: #fff
}

a {
  color: rgb(51, 171, 247)
}

code {
  background-color: #495581;
  border-radius: 5%;
}

img,picture {
  display: block;
  margin: 0 auto;
  max-width: 100%
}



