body {
  font-size: 18px; 
  font-family: Merriweather, Montserrat, Tahoma, sans-serif;
  background-color: #2a2e3c;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #fdd315;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  color: #46b3a8;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 8%;
  margin-bottom: -1%;
  color: #74edd3;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #aff7e7;
  margin-left: 4%;
  margin-top: 7%;
}

p,
li {
  font-size: 16px;
  font-weight: 200;
  text-align: justify;
  line-height: 2;
  letter-spacing: 1px;
  margin-left: 4%;
  margin-right: 4%;
  color: #fff;
}

a {
  color: rgb(51 171 247);
  font-weight: 200;
}

code {
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  background-color: #495581;
  border-radius: 5%;
}

img,picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}