/* Mini ejercitación anterior a Border */

body {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.card{
  background-color: coral;
  text-align: center;
  width: 700px;
  margin: auto;
}

h1{
  padding-top: 100px;
  font-size: 48px;
  margin: 0;
  letter-spacing: 4px;
}

h2{
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
}

p{
  padding: 20px;
  background-color: lightcoral;
  font-size: 16px;
  text-align: justify;
}

/* Mini ejercitación de colores */
